footer {
    display: flex;
    background-color: #9a9adf;
    color: #fff; 
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  

