<div class="container">
    <h1>Startsida</h1>
    <p>Angular är en ramverk för att bygga klientapplikationer med HTML, CSS och TypeScript.
        Det är utvecklat och underhållet av Google och en av de mest populära ramverken för webbutveckling.
        Med Angular kan utvecklare skapa kraftfulla och dynamiska användargränssnitt med hjälp av komponentbaserad
        arkitektur.<br>

        <br>En av de mest framträdande funktionerna i Angular är dess användning av enklare, deklarativa mallar för att
        definiera användargränssnittet.
        Dessa mallar gör det lätt att binda data till DOM-element och skapa dynamiska vyer.<br>

        <br>Angular erbjuder också ett kraftfullt system för att hantera data och kommunikation med servrar.
        Det innehåller moduler för HTTP-åtkomst, formulärhantering och tillståndsbevarande, vilket gör det enkelt att
        skapa robusta klientapplikationer.<br>

        <br>Med Angular kan utvecklare också dra nytta av ett brett utbud av verktyg och bibliotek för att förenkla
        utvecklingsprocessen.
        Det finns till exempel Angular CLI, som ger en uppsättning kommandoradsverktyg för att skapa, bygga och testa
        Angular-applikationer på ett effektivt sätt.<br></p>

</div>

<div class="picture">

<img src="assets/images/delfin.jpg" alt="AI Delfin" >

</div>